{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    color: blue !important;
    background-color: white;
  }
</style>




<div class="row">


  <div class="col-md-3" style="margin-left: 0px !important;padding-left: 0px !important;">

    <div class="p-3 m-3 text-center bg-white border" style="margin-bottom: -14px !important;">
      <img class="text-center m-1" src="{% static 'img/prof.svg' %}" alt="">
      <div class="p-2 m-1" style="font-size:14px;">{{ user.get_full_name }}</div>
      <div class="p-2 m-1 text-secondary" style="font-size:13px;">{{ user.phone }}</div>
      <div class="p-2 m-1 text-secondary" style="font-size:13px;">{{user.email}}</div>
    </div>

    <div class="nav flex-column nav-pills p-3 m-3 border bg-white" id="v-pills-tab" role="tablist"
      aria-orientation="vertical">

      <a class="nav-link p-2 m-1 text-dark active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
        role="tab" aria-controls="v-pills-profile" aria-selected="false" style="font-size:13px;"><i
          class="fa fa-user ml-3" aria-hidden="true" style="font-size:15px;"></i>
        اطلاعات حساب کاربری</a>

      <a class="nav-link p-2 m-1 text-dark" id="v-pills-bookmark-tab" data-toggle="pill" href="#v-pills-bookmark"
        role="tab" aria-controls="v-pills-bookmark" aria-selected="false" style="font-size:13px;"><i
          class="fa fa-bookmark-o ml-3" style="font-size:15px;"></i>نشان شده ها</a>


      <a class="nav-link p-2 m-1 text-dark" id="v-pills-exite-tab" data-toggle="pill" href="#v-pills-exite" role="tab"
        aria-controls="v-pills-exite" aria-selected="false" style="font-size:13px;"><i class="fa fa-sign-out ml-3"
          aria-hidden="true" style="font-size:15px;"></i>
        خروج</a>



    </div>

  </div>


  <div class="col-md-9" style="margin-right: 0px !important;padding-right: 0px !important;">
    <div class="tab-content p-3 ml-3 mt-3 mb-3 border bg-white" id="v-pills-tabContent">





      <div class="tab-pane fade" id="v-pills-bookmark" role="tabpanel"
        aria-labelledby="v-pills-bookmark-tab" style="min-height: 633px;">
        <div class="container">
          <div class="p-2 mb-2 border-bottom">علاقه مندی های من</div>
          <div id="userbookmark" class="row">

          </div>
        </div>
      </div>


      <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
        style="min-height: 633px;">
        <div class="container">
          <div class="p-2 border-bottom mb-2">اطلاعات شخصی</div>
          <div class="row">
            <div class="col-md-6 border-left">

              <div class="border-bottom p-3">
                <div style="font-size:14px;">نام:</div>
                <div id="first_name" class="p-2 text-secondary" style="font-size:13px;"></div>
                <div id="--first_name" style="display:none;"><input id="val-first_name" class="form-control" type="text"
                    placeholder="Default input">
                  <button id="submit-first_name" type="button"
                    class="submit p-1 mt-1 mb-1 btn btn-success btn-sm btn-block" style="font-size:13px;">ثبت
                    ویرایش</button>
                </div>
                <div id="edit-first_name" class="const text-left" style="font-size:20px;"><i
                    class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i>
                </div>
                <div id="-first_name"></div>
              </div>


              <div class="border-bottom p-3">
                <div style="font-size:14px;">نام خانوادگی:</div>
                <div id="last_name" class="p-2 text-secondary" style="font-size:13px;"></div>
                <div id="--last_name" style="display:none;"><input id="val-last_name" class="form-control" type="text"
                    placeholder="Default input">
                  <button id="submit-last_name" type="button"
                    class="submit p-1 mt-1 mb-1 btn btn-success btn-sm btn-block" style="font-size:13px;">ثبت
                    ویرایش</button>
                </div>
                <div id="edit-last_name" class="const text-left" style="font-size:20px;"><i
                    class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i>
                </div>
                <div id="-last_name"></div>
              </div>


              <div class="border-bottom p-3">
                <div style="font-size:14px;">شماره تلفن همراه:</div>
                <div id="phone" class="p-2 text-secondary" style="font-size:13px;"></div>
                <div id="--phone" style="display:none;"><input id="val-phone" class="form-control" type="text"
                    placeholder="Default input">
                  <button id="submit-phone" type="button" class="submit p-1 mt-1 mb-1 btn btn-success btn-sm btn-block"
                    style="font-size:13px;">ثبت ویرایش</button>
                </div>
                <div id="edit-phone" class="const text-left" style="font-size:20px;"><i
                    class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i>
                </div>
                <div id="-phone"></div>
              </div>

            </div>

            <div class="col-md-6">

              <div class="border-bottom p-3">
                <div style="font-size:14px;">پست الکتریکی</div>
                <div id="email" class="p-2 text-secondary" style="font-size:13px;"></div>
                <div id="--email" style="display:none;"><input id="val-email" class="form-control" type="text"
                    placeholder="Default input">
                  <button id="submit-email" type="button" class="submit p-1 mt-1 mb-1 btn btn-success btn-sm btn-block"
                    style="font-size:13px;">ثبت ویرایش</button>
                </div>
                <div id="edit-email" class="const text-left" style="font-size:20px;"><i
                    class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i>
                </div>
                <div id="-email"></div>
              </div>

              <div class="p-3">
                <div style="font-size:14px;">رمز عبور</div>
                <div id="password" class="p-2 text-secondary" style="font-size:13px;"></div>
                <div id="--password" style="display:none;"><input id="val-password" class="form-control" type="text"
                    placeholder="Default input">
                  <button id="submit-password" type="button"
                    class="submit p-1 mt-1 mb-1 btn btn-success btn-sm btn-block" style="font-size:13px;">ثبت
                    ویرایش</button>
                </div>
                <div id="edit-password" class="const text-left" style="font-size:20px;"><i
                    class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i>
                </div>
                <div id="-password"></div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="v-pills-exite" role="tabpanel" aria-labelledby="v-pills-exite-tab">...</div>

    </div>
  </div>



</div>



{% endblock content %}
{% block js %}
{{ block.super }}


<script>
  
    $('#first_name').html('');
    $('#last_name').html('');
    $('#phone').html('');
    $('#email').html('');
    $('#password').html('');
    $.ajax({
      url: "{% url 'account:userinfo' %}",
      type: "GET",
      headers: {
        "Authorization": "Token" + " " + window.localStorage.getItem('token'),
      },
      success: function (data) {
        if (data) {
          $('#first_name').append(data.first_name)
          $('#last_name').append(data.last_name)
          $('#phone').append(data.phone)
          $('#email').append(data.email)
          $('#password').append(data.password)
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(textStatus, errorThrown, jqXHR);
      }
    });
  

  $(".const").click(function (event) {
    event.preventDefault();
    $("#--" + $(this).attr('id').split('-')[1]).fadeToggle();
  });
  $(".submit").click(function (event) {
    event.preventDefault();
    $.post({
      url: "http://127.0.0.1:8000/edit/",
      headers: {
        "Authorization": "Token" + " " + window.localStorage.getItem('token'),
      },
      data: {
        'key': $(this).attr('id').split('-')[1],
        'value': $('#val-' + $(this).attr('id').split('-')[1]).val(),
      },
      success: function (response) {
        console.log(response);
        if (response.status == true) {
          $("#--" + response.key).fadeOut();
          $("#" + response.key).html('').append(response.value);
          $("#-" + response.key).addClass('text-success').append('ویرایش با موفقیت انجام شد.').fadeOut(1800)
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(textStatus, errorThrown, jqXHR);
      }
    });
  });

  $("#v-pills-bookmark-tab").click(function (event) {
    event.preventDefault();
    $('#userbookmark').html('');
    $.ajax({
      url: "{% url 'account:getuserbookmark' %}",
      type: "GET",
      headers: {
        "Authorization": "Token" + " " + window.localStorage.getItem('token'),
      },
      success: function (data) {
        if (data) {
          $.each(data, function () {
            var url = "{% url 'base:detail' 123 %}";
            var id = $(this)[0]['house']
            url = url.replace('123', id);
            html = `<div class="col-md-4">
                      <div class="border p-2 m-1 shadow p-3 mb-5 bg-white rounded" style="border-radius:5px;min-height: 289px;">
                          <div class="p-2 text-center"> 
                              <a href="${url}">
                                  <img width="220" src="${$(this)[0]['items'][0]['image']}" alt="">
                              </a>
                          </div>
                          <div class="text-dark p-2 m-1 text-center font-weight-bold" style="font-size:13px;"">${$(this)[0]['title']}</div>
                          <div class="border border-secondary p-1 m-1 text-secondary text-center">${$(this)[0]['price']}<span>تومان</span></div>
                      </div>
                  </div>`
            $('#userbookmark').append(html);
          });
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(textStatus, errorThrown, jqXHR);
      }
    });
  });


</script>

{% endblock js %}