{% extends "base.html" %}
{% load static %}
{% block content %}
{% block nav %}
{% endblock nav %}
<div class="container">
	<div class="row" style="justify-content:center;">
		<div class="col-md-6 m-5">
			<div id="pass" class="border bg-white m-2 p-4 shadow rounded" style="border-radius:7px;">
				<div class="p-3 mb-2 bg-danger text-white" style="font-size:15px;border-radius:7px;">رمز عبور جديد خودرا وارد كنيد.</div>
				<div class="p-1">
					<div class="p-2" style="font-size:15px;">رمز عبور</div>
					<input id="password" class="form-control form-control-lg" type="password" placeholder="رمز عبور خود را وارد کنید" >
				</div>
				<div class="p-1">
					<div class="p-2" style="font-size:15px;">تکرار رمز عبور</div>
					<input id="password2" class="form-control form-control-lg" type="password" placeholder="تکرار رمز عبور خود را وارد کنید" >
				</div>
				<a href="#">
					<div id="set_password" class="border bg-primary text-center text-white p-2 mt-2" style="border-radius:7px;">
						ثبت رمز عبور
					</div>
				</a>
				<div class="" id="error" style="font-size:14px;"></div>
			</div>
		</div>
	</div>
</div>
{% block footer %}
{% endblock footer %}

{% endblock content %}
{% block js %}
{{ block.super }}
<script>
	$('#set_password').on('click', function(event) {  
		event.preventDefault();
		$('#error').html('');
		$( "#error" ).removeClass('p-2 text-danger text-success');
		if ($('#password').val() == $('#password2').val()) {
			$.post({
				url: "http://127.0.0.1:8000/password_change/",
				data: {
					'phonenumber':window.localStorage.getItem('userphonehistory'),
					'password':$('#password').val(),
				},
				success: function(response) {
					$('#error').html('');
					$( "#error" ).removeClass('p-2 text-danger text-success');
					if (response.status == false) {
						$('#error').append(response.detail);
						$( "#error" ).addClass('p-2 text-danger');
					}
					else if(response.status == true){
						window.localStorage.removeItem('userphonehistory');
						$('#error').append(response.detail);
						$( "#error" ).addClass('p-2 text-success');
						html=`
						<div class="p-2 mt-4">
						<span style="font-size:14px;">اكنون با مز جديد ميتوانيد وارد حساب كاربري خود شويد.</span>
						<a class="text-decoration-none" href="{% url 'account:login_page' %}"><span class="border border-primary p-2" style="font-size:14px;border-radius:5px;">ورود به حساب کاربری</span></a>
						</div>`
						$('#pass').append(html);

					}
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log(textStatus, errorThrown, jqXHR);
				}
			});
		}else{
			$('#error').append('رمز عبور با تکرار رمز عبور برابر نیست.');
			$( "#error" ).addClass('p-2 text-danger');
		}
	});



	
</script>
{% endblock js %}