{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>House</title>
</head>

<body>

  {% block nav %}

  <nav class="navbar navbar-expand-lg navbar-light bg-white m-2">
    <a class="navbar-brand" href="{% url 'base:homepage' %}"><img width="70" src="{% static 'img/32.png' %}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white btn btn-primary m-1" href="{% url 'base:homepage' %}"><i class="fa fa-home ml-1"></i>خانه</a>
        </li>
        {% if request.user.is_authenticated%}
        <li class="nav-item">
          <a class="nav-link text-white btn btn-primary m-1" href="{% url 'account:dashboard_page' %}">پنل کاربری</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-white btn btn-primary m-1" href="{% url 'account:login_page' %}">ورود کاربر</a>
        </li>
        {% endif %} 
      </ul>
    </div>
  </nav>
  {% endblock nav %}

  {% block content %}{% endblock content %}
















  {% block footer %}
  

  <div class="footer mt-3 border-top" style="background-color: white;">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 text-center p-2 mt-5">
            <!-- <p>تلفن تماس: 6415</p>
            <p>ادرس: ستارخان جنب پمپ بنزین ...</p> -->
            <div class="p-2" style="font-size: 14px;"><a class="text-secondary" href="">بازگشن کالا</a></div>
            <div class="p-2" style="font-size: 14px;"><a class="text-secondary" href="">سوالات متداول</a></div>
            <div class="p-2" style="font-size: 14px;"><a class="text-secondary" href="">فرصت های شغلی</a></div>
            <div class="p-2" style="font-size: 14px;"><a class="text-secondary" href="">راهنمای خرید</a></div>
          </div>
          <div class="col-md-3 text-center p-2 mt-5">
            <div class="p-2" style="font-size: 14px;"><a class="text-secondary" href="">مرکز پشتیبانی: 6415</a></div>
            <div class="p-2" style="font-size: 14px;"><a class="text-secondary" href="">دفتر مرکزی: تهران-ستارخان-
                شهراارا...</a></div>
            <div class="p-2" style="font-size: 14px;"><a class="text-secondary" href="">فرصت های شغلی</a></div>
            <div class="p-2" style="font-size: 14px;"><a class="text-secondary" href="">ساعات کاری: از شنبه الی چهارشنبه
                از ساعت8.00 الی 16.00</a></div>
          </div>
          <div class="col-md-3 text-center p-2">
            <h4 class="text-center">STORE</h4>
            <p class="text-secondary">فروشگاه store از سال 1376 شروع به کار کرده و خیلی بد کار کرده و الان تازه داره
              درست میشه</p>
          </div>
          <div class="col-md-3 text-center p-2 mt-5">
            <a href="#" class="fa fa-facebook social p-2 text-white mt-2"></a>
            <a href="#" class="fa fa-twitter social p-2 text-white mt-2" style="background-color: #55ACEE;"></a>
            <a href="#" class="fa fa-youtube social p-2 text-white mt-2" style="background-color: #bb0000;"></a>
            <a href="#" class="fa fa-instagram social p-2 text-white mt-2" style="background-color: #C12B2B;"></a>
            <a href="#" class="fa fa-facebook social p-2 text-white mt-2"></a>
            <a href="#" class="fa fa-twitter social p-2 text-white mt-2" style="background-color: #55ACEE;"></a>
            <a href="#" class="fa fa-youtube social p-2 text-white mt-2" style="background-color: #bb0000;"></a>
            <a href="#" class="fa fa-instagram social p-2 text-white mt-2" style="background-color: #C12B2B;"></a>
            <a href="#" class="fa fa-facebook social p-2 text-white mt-2"></a>
            <a href="#" class="fa fa-twitter social p-2 text-white mt-2" style="background-color: #55ACEE;"></a>
            <a href="#" class="fa fa-youtube social p-2 text-white mt-2" style="background-color: #bb0000;"></a>
            <a href="#" class="fa fa-instagram social p-2 text-white mt-2" style="background-color: #C12B2B;"></a>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock footer %}






  {% block js %}
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/5a32a1eab1.js"></script>
  <script>



  </script>

  {% endblock js %}
</body>

</html>