{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="border bg-white">
                <div class="p-1">
                    <img id="primary_image" src="" class="w-100 p-2 border-bottom" alt="">
                </div>
                <div id="images" class="row pr-4 pl-3 pt-1 pb-2">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border bg-white">
                <div id="title" class="m-2 p-2 border-bottom"></div>
                <div class="m-2 p-2">
                    <button type="button" class="btn btn-danger phonedisplay">اطلاعات تماس</button>
                    <span class="border border-danger p-2 mr-3 text-danger" style="display: none;" id="phone">{{ user.phone }}</span>
                    <div class="border-bottom p-2 mt-3">
                        <div class="d-inline pr-5">اگهی دهنده</div>
                        <div id="advetiser" class="d-inline pl-5" style="float:left;"></div>
                    </div>
                    <div class="border-bottom p-2">
                        <div class="d-inline pr-5">دسته بندی</div>
                        <div id="category" class="d-inline pl-5" style="float:left;"></div>
                    </div>
                    <div class="border-bottom p-2">
                        <div class="d-inline pr-5">محله</div>
                        <div id="location" class="d-inline pl-5" style="float:left;"></div>
                    </div>
                    <div class="border-bottom p-2">
                        <div class="d-inline pr-5">متراژ</div>
                        <div id="size" class="d-inline pl-5" style="float:left;"></div>
                    </div>
                    <div class="border-bottom p-2">
                        <div class="d-inline pr-5">سن بنا</div>
                        <div id="biuliding_age" class="d-inline pl-5" style="float:left;"></div>
                    </div>
                    <div class="border-bottom p-2">
                        <div class="d-inline pr-5">تعداد اوتاق</div>
                        <div id="number_room" class="d-inline pl-5" style="float:left;"></div>
                    </div>
                    <div class="border-bottom p-2">
                        <div class="d-inline pr-5">قیمت</div>
                        <div id="price" class="d-inline pl-5" style="float:left;"></div>
                    </div>
                    <div class="p-2">
                        <div class="d-inline pr-5">طبقه</div>
                        <div id="floor" class="d-inline pl-5" style="float:left;"></div>
                    </div>
                    <div class="text-left mt-5">
                        <button id="share" type="button" data-content="کپی شد" data-placement="top" class="btn btn-outline-primary"><i
                                class="fa fa-share-alt text-center"></i></button>
                        <button id="bookmark" type="button" class="btn btn-outline-primary"><i class="fa fa-bookmark-o"
                                id="book"></i></button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>




{% endblock content %}
{% block js %}
{{ block.super }}


<script>
    bookmarkdisplay()
    $.ajax({
        url: "{% url 'base:housedetail' %}?id={{house_id}}",
        type: "GET",
        success: function (data) {
            if (data) {
                $('#title').append(data.title);
                $('#advetiser').append(data.Advertiser);
                $('#category').append(data.house_type);
                $('#location').append();
                $('#size').append(data.size);
                $('#biuliding_age').append(data.building_age);
                $('#number_room').append(data.number_of_rooms);
                $('#price').append(data.price);
                $('#floor').append(data.floor);
                $('#primary_image').attr('src', data.items[0].image);

                $.each(data.items, function () {
                    html = `
                    <img id="${$(this)[0]['id']}" src="${$(this)[0]['image']}" class="p-2 m-1 img-thumbnail const img-${$(this)[0]['id']}" alt="" style="width: 30%;">`
                    $('#images').append(html);
                });
                $(".const").click(function () {
                    $(".const").removeClass('imgborder');
                    $(".img-" + $(this).attr('id')).addClass('imgborder');
                    $('#primary_image').attr('src', $(".img-" + $(this).attr('id')).attr('src'));
                    $(".img-" + $(this).attr('id')).attr('src', $('#primary_image').attr('src'));
                });
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
        }
    });
    function bookmarkdisplay() {
        $.post({
            url: "{% url 'account:bookmarkdisplay' %}",
            data: {
                "id": {{ house_id }},
            },
    headers: {
        "Authorization": "Token" + " " + window.localStorage.getItem('token'),
            },
    success: function (response) {
        if (response.status == true) {
            $('#book').removeClass('fa-bookmark-o').addClass('fa-bookmark text-primary');
        }
        else {
            $('#book').removeClass('fa-bookmark text-primary').addClass('fa-bookmark-o');
        }
    },
    error: function (jqXHR, textStatus, errorThrown) {
        console.log(textStatus, errorThrown, jqXHR);
    }
        });
    }
    $('#bookmark').on('click', function (event) {
        event.preventDefault();
        $.post({
            url: "{% url 'account:bookmark' %}",
            data: {
                "id": {{ house_id }},
            },
        headers: {
        "Authorization": "Token" + " " + window.localStorage.getItem('token'),
    },
        success: function (response) {
            if (response.status == true) {
                bookmarkdisplay()
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown, jqXHR);
        }
        });
    });
    $('#share').on('click', function (event) {
        event.preventDefault();
        var url = window.location.href;
        var urls = document.createElement("input");
        urls.setAttribute("value", url);
        document.body.appendChild(urls);
        urls.select();
        document.execCommand("copy");
        document.body.removeChild(urls);
        $('#share').popover('show');
        setTimeout(function () {
            $('#share').popover('hide');
        }, 1000);
    });
    $(".phonedisplay").click(function(event){
        event.preventDefault();
    $("#phone").fadeToggle();
  });

</script>

{% endblock js %}